<div class="container">
  <div class="sign-up-form">
    <form action="/parties/edit" method="POST">
      <input type="hidden" name="id" value="{{ party._id }}">
      <div class="form-group">
        <label>Party title</label>
        <input type="text" class="form-control" name="title" value="{{ party.title }}" placeholder="{{ party.title }}"
          required>
      </div>
      <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" name="location" value="{{ party.location }}"
          placeholder="{{ party.location }}" required>
      </div>
      <div class="form-group">
        <label>Start</label>
        <input type="date" class="form-control" name="start_date" value="{{ party.start_date }}"
          placeholder="{{ party.start_date }}" required>
        <input type="time" class="form-control" name="start_time" value="{{ party.start_time }}"
          placeholder="{{ party.start_time }}" required>
      </div>
      <div class="form-group">
        <label>End</label>
        <input type="date" class="form-control" name="end_date" value="{{ party.end_date }}"
          placeholder="{{ party.end_date }}">
        <input type="time" class="form-control" name="end_time" value="{{ party.end_time }}"
          placeholder="{{ party.end_time }}">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" rows="4" placeholder="{{ party.description }}"
          required>{{ party.description }}</textarea>
      </div>
      <div class="form-group" id="select-guests">
        <label>Invited guests</label>
        <select id="invited-selector" name="guests" multiple required>
          {{#each invitedGuests}}
          <option selected class="invited-option" value="{{_id}}">{{this.first_name}} {{this.last_name}}</option>
          {{/each}}
        </select>
        <label>Uninvited guests</label>
        <select id="uninvited-selector" name="uninvitedGuests" multiple>
          {{#each uninvitedGuests}}
          <option class="uninvited-option" value="{{_id}}">{{this.first_name}} {{this.last_name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="container">
        <button type="submit" class="btn btn-primary margin-small">Save changes</button>
      </div>
    </form>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
      Delete
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Are you sure you want to delete this party?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer modal-custom">
            <a href="/parties/delete?id={{party._id}}">
              <button type="button" class="btn btn-danger">Delete</button>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>